.overlay{
    position: relative;
    display:inline-block;
}

.overlay img{
    width: 500px; ;
    display:block;
    position: center;
}

.overlay-text{
    position:absolute
    text-align center;
    color:#0606b7;
    padding: 5px 10px;
}